h1 {
    text-align: center;
    color: white;
    background-color: blue;
    padding: 8px;
}

main {
    display: flex;
}

.weatherContent {
    height: 250px;
    border: 2px solid black;
    width: auto;
}